.about {
    background-color: #ff8a0e;
    color: white;
    padding: 20px;
    text-align: center;
    height:75vh;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    background-color: #100641;
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor:pointer;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .card img{
    height:200px;
  }

  .card:hover{
    box-shadow: 4px 4px 4px #946205;
  }

  .start1{
    text-decoration: underline;
    font-size:35px;
  }